/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* 以上為css reset */
/* (防止圖片破版,圖片如果太大張的話可以在圖片外面加上一個外容器設定max-width) */
/* img {
  max-width: 100%;
  height: auto;
} */

/* 計算寬高上面比較方便 */
/* *,
*::before,
*::after {
  box-sizing: border-box;
} */

/* 以下開始為我自己寫的css */
/* <!-- ---------------------------------遊戲種類----------------------------------------- --> */
/* 字體 */
body {
  font-family: "Microsoft YaHei", sans-serif;
  letter-spacing: 2px;
  padding-top: 90px;
  overflow-x: hidden;
}

/* header */
/* header {
  background-color: #1c3d5c;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 90px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  z-index: 9000;
  position: fixed;
  top: 0;
  left: 0;
  transition: top 0.25s;
}

header div.logo {
  flex: 2;
  text-align: center;
  cursor: pointer;
}

header div.logo img {
  transform: scale(0.65);
}

header nav {
  flex: 7;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

header nav ul {
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;
  color: white;
  font-weight: bold;
  height: 100%;
}

header nav ul li:hover {
  border-bottom: 7.5px solid rgba(153, 153, 153, 0.75);
}

header nav ul li:hover a img {
  transform: rotateX(0deg);
}

header nav ul li {
  display: flex;
  align-items: center;
  font-size: 0.95rem;
  position: relative;
  cursor: pointer;
  height: 100%;
  margin: 0 10px;
  transition: 0.25s;
}

header nav ul li a {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 40px;
  font-size: 1.05rem;
  height: 100%;
  text-decoration: none;
  color: #fff;
  letter-spacing: 2.5px;
}

header nav ul li a img {
  margin-left: 5px;
  width: 15px;
  transition: transform 0.2s;
  transform: rotateX(180deg);
}

header nav ul li div.dropdown {
  position: absolute;
  top: 90px;
  left: 0;
  width: 100%;
  background-color: white;
  padding: 15px 0;
  border-top: 0;
  border-radius: 0 0 5px 5px;
  box-shadow: 0 2px 6px rgb(155, 155, 155);
  opacity: 0;
  visibility: hidden;
}

header nav ul li div.dropdown ul {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  list-style: none;
  padding: 0;
  margin: 0;
}

header nav ul li div.dropdown ul li {
  font-size: 0.9rem;
  padding: 5px 0;
}

header nav ul li div.dropdown ul li a {
  color: rgb(94, 94, 94);
  text-decoration: none;
  padding: 15px 20px;
}

header nav ul li div.dropdown ul li a:hover {
  background-color: rgb(213, 213, 213);
  border-radius: 7.5px;
  color: #333;
}

header nav ul li div.dropdown ul li:hover {
  border: none;
}

header nav ul li:hover div.dropdown {
  opacity: 1;
  visibility: visible;
  transition: opacity 0.3s ease-in-out, visibility 0.3s ease-in-out;
}

header div.navbar-icons {
  flex: 2;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}

header div.navbar-icons a {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 3px;
  padding: 0 25px;
  cursor: pointer;
  transition: 0.25s;
}

header div.navbar-icons a img {
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
  width: 22px;
  height: 22px;
}

header div.navbar-icons a:hover {
  filter: brightness(65%);
}

.header_hidden {
  top: -90px;
} */

/* footer */
/* footer {
  background-color: #1c3d5c;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

footer div.footer-s1 {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 50px 0;
}

footer div.footer-s1 div.footer-logo {
  text-align: center;
}

footer div.footer-s1 div.footer-logo img {
  width: 250px;
}

footer div.footer-s1 div.footer-content {
  display: flex;
  text-align: center;
}

footer div.footer-s1 div.footer-content ul {
  list-style: none;
  color: white;
  font-weight: bold;
  margin: 0 50px;
}

footer div.footer-s1 div.footer-content ul li {
  margin: 30px 0;
}

footer div.footer-s1 div.footer-content ul li a {
  text-decoration: none;
  color: white;
  font-size: 0.9rem;
  letter-spacing: 3px;
}

footer div.footer-s2 {
  color: white;
  padding-bottom: 50px;
}

footer div.footer-s2 ul li a {
  letter-spacing: 0.15em;
}

footer div.footer-s2 p {
  font-size: 0.8rem;
  letter-spacing: 2px;
} */

/*# sourceMappingURL=style.css.map */

/* 影片加封面 */
.section1 {
  /* padding-bottom: 350px;   原本的 */
  padding-bottom: 250px;
}

.section1 .s1container {
  width: 100%;
  height: 370px;
  -o-object-fit: fill;
  object-fit: fill;
  /* overflow: hidden; */
  position: relative;
  /* filter: blur(7px); */
}

.section1 .s1container video {
  width: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  /* filter: blur(7px); */
}

.section1 div.video {
  width: 90%;
  height: 380px;
  position: absolute;
  top: 25%;
  left: 5%;
  overflow: hidden;
  /* transform: translate(-50%, -50%); */
  z-index: 55;
}

.section1 div.video img {
  width: 100%;
}
.video video{
  width: 100%;
  object-position: center;
  /* position: absolute; */
  /* top: 30px; */
 
}
.video{
  margin-top: 80px;
  box-shadow: 0 0 10px 2px rgba(0, 217, 255, 0.9);
  border: 4px solid hsla(200, 100%, 75%, 0.5);
 
}

/* ------- */
/* 遊戲種類列表+圖片區 大外框 */
.bigbox {
  /* border: 1px solid red; */
  display: flex;
  justify-content: center;
  background-image: url("../img/Games/GameTypeBg/bk/gamebk.jpg");
  background-repeat: no-repeat;
  background-position: bottom;
  background-size: cover;
  height: auto;
  width: 100%;
  /* justify-content: space-around; */
  margin-bottom: 50px;
}

/* 遊戲種類列表 */
.thegametype {
  /* border: 1px solid green; */
  text-align: center;
  width: 20%;
  display: flex;
  flex-direction: column;
  padding: 20px;
}

.thegametype h3 {
  background-color: #0057a8;
  color: aliceblue;
  font-weight: bolder;
  padding: 15px;
  border-radius: 5px;
  max-width: 150px;
  /* width: 50%; */
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 20px;
  font-size: 18px;
}

.thegametype a {
  /* border: 1px solid red; */
  text-decoration: none;
  color: #1c3d5c;
  cursor: pointer;
  font-size: large;
  display: block;
  /* line-height: 70px; */
  line-height: 60px;
  text-decoration: underline;
  /* text-underline-offset: 0.4em; */
  text-underline-offset: 1.3em;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  margin-bottom: 20px;
  margin-top: 25px;
}

.thegametype a:hover {
  font-weight: bolder;
}

/* 遊戲種類圖片最外框 */
.image-container {
  /* border: 1px solid orangered; */
  /* width: 60%; */
  width: 50%;
  /* max-width: 700px; */
  display: flex;
  flex-wrap: wrap;
  justify-content: start;
  /* justify-content: center; */
  align-items: center;
  margin-left: 100px;
  /* gap: 10px; */
  gap: 20px;
  padding: 20px;
}

.image-container img {
  object-fit: cover;
  margin-right: 50px;
  /* width: 200px; */
  /* height: 200px; */
  width: 300px;
  height: 300px;
}

/* ----------------------------------------------------- */

/* 背景圖片 */
.thegamepic {
  max-width: 900px;
  /* width: 100%; */
  position: relative;
  margin: auto;
  text-align: center;
  z-index: 0;
}

.gamecontent {
  /* border: 1px solid green; */
  position: absolute;
  width: 100%;
  z-index: 1;
  top: 0;
  left: 0;
  display: flex;
  justify-content: space-around;
}

.gamecontent img {
  border: 1px solid orchid;
  max-width: 150px;
  height: 150px;
  margin-top: 50px;
  margin-left: 50px;
}

.thecontent {
  border: 1px solid blue;
  width: 300px;
}

.gamecontent p,
h2 {
  color: aliceblue;
  border: 1px solid orchid;
}

@media screen and (max-width: 768px) {
  .box1,
  .box2,
  .box3 {
    flex-direction: column;
    justify-content: center;
    text-align: center;
  }
}

/* .theoutbox最外層榮容器 */
.theoutbox {
  /* border: 1px solid red; */
  display: flex;
  margin: auto;
  margin-top: 50px;
  margin-bottom: 50px;
  background-image: url("../img/Games/GameTypeBg/Shooting.jpg");
  background-repeat: no-repeat;
  /* background-position: bottom; */
  background-size: cover;
  height: auto;
  width: 100%;
  /* border: 15px solid green; */
  /* opacity: 0.7; */
}

.splide {
  /* border: 15px solid rgb(0, 34, 0); */
  width: 750px !important;
}



.theoutbox img {
  width: 100%;
}

.picbox {
  width: 50%;
  /* border: 1px solid green; */
  display: flex;
  flex-direction: column;
  margin-left: 2%;
}

.picbox2 img {
  margin-left: 1%;
  width: 20%;
}

.picbox2 {
  /* border: 1px solid blue; */
  margin-top: 3%;
  margin-bottom: 3%;
  text-align: center;
}

.picbox3 {
  /* border: 1px solid orangered; */
  max-width: 30%;
  display: flex;
  flex-direction: column;
  margin-right: 10%;
  /* justify-content: space-between; */
  justify-content: center;
  align-items: center;
  /* border: 15px solid yellow; */
}

.picbox3 h3 {
  color: black;
  margin-top: 5%;
  text-align: center;
  font-weight: bolder;
  font-size: 30px;
}

@media screen and (max-width: 789px) {
  /* .picbox3{
    display: none;
  } */
  .picbox4 {
    display: none;
  }

  .picbox5 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .picbox5 button {
    margin: 10px;
  }
}

@media screen and (max-width: 940px) {
  .picbox3 h3 {
    font-size: 20px;
  }

  .picbox4 p {
    font-size: 10px;
  }
}

.picbox4 {
  /* border: 1px solid yellow; */
  padding: 5%;
  /* padding-left: 15%; */
  /* padding-right: 15%; */
  background-color: rgba(185, 181, 181, 0.4);
  backdrop-filter: blur(10);
  border-radius: 20px;
  /* margin-top: 20px; */
  margin-right: 20px;
}

.pbox p {
  color: black;
  font-weight: bolder;
  /* margin-top: 5%; */
  font-size: 15px;
  line-height: 30px;
}

/* 最下方輪播圖 */
/* --------------- */
.thepink {
  /* border: 8px solid rgb(255, 113, 136); */
  width: 100%; /* 控制大圖寬度 */
  height: 450px;
  /* border: 5px solid pink; */
}

.thepinkli {
  width: 100%;
  height: 100%;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

.thepinkli img {
  width: 100%;
  height: 100%;
  /* object-fit: contain; */
}

/* .thepink img{ */
/* object-fit: contain; */
/* } */
.theoutbox {
  display: flex;
}

.theleftbox {
  /* border: 10px solid yellow; */
  /* flex: 5; */
  /* width: 75%; */
  width: 90%;
}

.splide {
  /* border: 1px solid yellowgreen; */
  /* width: 70%; */
  width: 60%;
  margin: auto;
}

.splide__slide {
  opacity: 0.6;
}

.splide__slide.is-active {
  opacity: 1;
}
/* 隱藏本來輪播圖左右兩側的箭頭按鈕 */
.splide__arrow {
  /* border: 1px solid green; */
  display: none;
  }
.splide__slide img {
  /* border: 1px solid red; */
  width: 100%;
  height: 100%;
  object-fit: cover;
}

#thumbnail-carousel {
  /* border: 1px solid red; */
  margin-top: 5px;
  /* width: 60%; */
  width: 60%;
  justify-content: center;
  text-align: center;
}

#changeimg {
  justify-content: center;
  /* border: 1px solid red; */
  height: 90px;
}

.theoutbox {
  /* border: 1px solid pink; */
  justify-content: center;
  max-width: 100%;
 height:600px;
 /* border: 4px solid red; */

}

.theleftbox {
  /* border: 1px solid beige; */
  display: flex;
  flex-direction: column;
  max-width: 70%;
  padding-top: 20px;
  padding-bottom: 20px;
}

@media screen and (max-width: 794px) {
  .thegametype h3 {
    font-size: 16px;
  }
}

@media screen and (max-width: 722px) {
  .thegametype h3 {
    font-size: 14px;
  }
}

@media screen and (max-width: 702px) {
  .thegametype {
    width: 33.1%;
    /* border: 1px solid red; */
  }

  .image-container {
    width: 60%;
    /* border:1px solid green; */
    margin-left: 1px;
  }

  .image-container img {
    width: 200px;
    height: 200px;
  }
}

/* ------------  測試滑鼠活過的的效果------------------------ */

.image-box {
  position: relative;
  /* height: 300px; */
  /* width: 300px; */
  height: 250px;
  width: 250px;
  overflow: hidden;
  /* border: 1px solid green; */
  cursor: pointer;
}

.image-box img {
  /* height: 300px; */
  /* width: 300px; */
  height: 250px;
width: 250px;
transition:1s;
}
.image-box img:hover {
  /* height: 300px; */
  /* width: 300px; */
  height: 250px;
width: 250px;
transform: scale(1.2);
}


.hover-image {
  position: absolute;
  bottom: -100%;
  /* 開始時圖片從底部隱藏 */
  width: 100%;
  height: 100%;
  object-fit: cover;
  transform: translateY(100%);
  transition: all 0.5s ease-in-out;
  opacity: 0.6;
}

.image-box:hover .hover-image {
  bottom: 0;
  /* 圖片從底部跑上來 */
  transform: translateY(0);
}

.picbox5 {
  /* margin: auto; */
  /* border: 1px solid yellow; */
  display: flex;
  margin-top: 30px;
  /* border: 1px solid yellow; */
}

.picbox5 button {
  background-color: #0057a8;
  color: #fff;
  font-size: 18px;
  border: none;
  border-radius: 5px;
  padding: 20px;
  margin-left: 10px;
  margin-right: 10px;

  /* width: 100%; */
}

.picbox5 button:hover {
  font-weight: bolder;
  cursor: pointer;

}

.picbox4 h3 {
  margin-bottom: 20px;
}

/* 中間區塊的遊戲列表底色樣式 */
/* 舊樣式 */
.thegametype a.active-button {
  background-color: #e7e7e7;
  /* background-color:#D3D3D3; */
  color: black;
  font-weight: bolder;
  width: 150px;
  height: 60px;
  border-radius: 5px;
  opacity: 0.8;
}



/* -----------------------測試搜索欄----------------------- */
.overlay {
  position:absolute;
  top: 0;
  left: 0;
  width: 100%;
  height:470%;
  background-color: rgba(0, 0, 0, 0.8);
  display: none;
  z-index: 9999;
  justify-content: center;
}

.close-btn {
  /* border: 1px solid blue; */
  position: absolute;
  top: 0;
  right: 20px;
  color: white;
  font-size: 60px;
  cursor: pointer;
}

.thefindcontent {
  /* border: 1px solid yellow; */
  text-align: center;
  margin-top: 100px;
  text-align: center;
  /* background-color: darkgray; */
  display: flex;
  align-items: center;
  gap: 15px;
}

.thefindcontent img {
  width: 30px;
  height: 30px;
  /* margin-top: 20px; */
}

.thefindcontent input {
  width: 300px;
  margin-left: 10px;
  border-bottom: 1px solid #fff;
  background-color: yellow;
}

.thefindcontent input[type="text"] {
  border: none;
  border-bottom: 1px solid white;
  outline: none;
  background-color: transparent;
  color: #fff;
  font-size: 20px;
}
.thefindcontent button {
  width: 90px;
  background-color: #0057a8;
  color: aliceblue;
  font-weight: bolder;
  padding: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
  border-radius: 10px;
  font-size: 20px;
  margin-left: 10px;
  box-shadow: none;
  /* margin-bottom: 20px; */
}

.thecococ {
  /* border: 1px solid pink; */
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 100%;
}

/* 設定如果收尋到相關遊戲的話出現的div樣式 */
.result-item {
  /* border: 8px solid yellow; */
  border-radius: 5px;
  margin-top: 20px;
  margin-bottom: 20px;
  background-color: #e7e7e7;
  background: rgba(0, 140, 255, 0.6);
  box-shadow: 0 0 10px 2px rgba(0, 217, 255, 0.8);
  border: 4px solid hsla(200, 100%, 75%, 0.5);
  display: flex;
  width: 800px;
  justify-content: center;
  align-items: center;
  gap: 15px;
}








.result-item a {
  padding: 20px;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
}

.result-item a img {
  width: 250px;
  height: 150px;
  margin-bottom: 5px;
  /* border: 2px solid gray; */
  /* object-fit: contain; */
  object-fit: cover;
}

.result-item a p {
  /* margin: 0; */
  width: 250px;
  color: black;
  color: #fff;
  font-weight: bolder;
  /* border: 2px solid gray; */
  /* text-align: center; */
  /* align-items: center; */
  /* justify-content: center; */
  font-size: 20px;
  text-align: center;
}

.result-p {
  /* border: 1px solid yellow; */
  border-radius: 5px;
  padding: 20px;
  margin-top: 50px;
  margin-bottom: 50px;
  /* background-color: #e7e7e7; */
  color: #e7e7e7;
  font-size: 20px;
  display: flex;
  width: 200px;
  justify-content: center;
  align-items: center;
}





/* --------------------測試最下方區塊的三顆按鈕-------------------------------- */
.thehoverbutton {
  padding: 15px 25px;
  border: unset;
  border-radius: 15px;
  color: #212121;
  z-index: 1;
  background: #e8e8e8;
  position: relative;
  font-weight: 1000;
  font-size: 17px;
  -webkit-box-shadow: 4px 8px 19px -3px rgba(0,0,0,0.27);
  box-shadow: 4px 8px 19px -3px rgba(0,0,0,0.27);
  box-shadow: 0 0 10px 4px rgba(0, 217, 255, 0.9);
  border: 4px solid hsla(200, 100%, 75%, 0.5);
  transition: all 250ms;
  overflow: hidden;
  font-weight:bolder ;
 }
 
 .thehoverbutton::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 0;
  border-radius: 5px;
  background: rgba(0, 140, 255, 0.4);
  z-index: -1;
  transition: all 250ms
 }
 
 .thehoverbutton:hover {
  color: #e8e8e8;
 }
 
 .thehoverbutton:hover::before {
  width: 100%;
 }




/* ----------右下角快速往上鍵--------------- */
.thetopbtn{
  background-color: #e7e7e7;
  background-color:rgba(231, 231, 231, 0.8);
  width: 60px;
  height: 60px;
  padding: 10px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50px;
  position: fixed;
   right: 0;
   bottom: 0;
   margin-right: 10px;
}


/* -------------搜尋欄按鈕----------------- */
.thefindcontent button {
  position: relative;
  padding: 10px 20px;
  border-radius: 7px;
  border: 1px solid #0057a8;
  font-size: 16px;
  text-transform: uppercase;
  font-weight: 600;
  letter-spacing: 4px;
  background: transparent;
  color: #fff;
  overflow: hidden;
  box-shadow: #0057a8;
  -webkit-transition: all 0.2s ease-in;
  -moz-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
  background-color: #0057a8;
}

.thefindcontent button:hover {
  background: rgb(61, 106, 255);
  box-shadow: 0 0 30px 5px rgba(0, 142, 236, 0.815);
  -webkit-transition: all 0.2s ease-out;
  -moz-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
}

.thefindcontent button:hover::before {
  -webkit-animation: sh02 0.5s 0s linear;
  -moz-animation: sh02 0.5s 0s linear;
  animation: sh02 0.5s 0s linear;
}

.thefindcontent button::before {
  content: '';
  display: block;
  width: 0px;
  height: 86%;
  position: absolute;
  top: 7%;
  left: 0%;
  opacity: 0;
  background: #fff;
  box-shadow: 0 0 50px 30px #fff;
  -webkit-transform: skewX(-20deg);
  -moz-transform: skewX(-20deg);
  -ms-transform: skewX(-20deg);
  -o-transform: skewX(-20deg);
  transform: skewX(-20deg);
}

@keyframes sh02 {
  from {
    opacity: 0;
    left: 0%;
  }

  50% {
    opacity: 1;
  }

  to {
    opacity: 0;
    left: 100%;
  }
}

.thefindcontent button:active {
  box-shadow: 0 0 0 0 transparent;
  -webkit-transition: box-shadow 0.2s ease-in;
  -moz-transition: box-shadow 0.2s ease-in;
  transition: box-shadow 0.2s ease-in;
}











































































































