body {
  padding-top: 20px;
}

.ProductPageBg::before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.5); /* Here 0.5 is the opacity level */
  z-index: -1;
}

// 三種類型背景
.ProductPageBgAVG {
  background-image: url("../img/Games/GameTypeBg/avg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  padding-top: 1px;
  padding-bottom: 1px;
  position: relative;
  z-index: 1;
  .ProductPage {
    background-color: #5a3826;
    border: 1px solid rgba(49, 31, 12, 0.6);
  }
  .productNav {
    color: white;
  }
  .section1 {
    .s1left {
      .bigPicDiv {
        background-color: #180d07;
        box-shadow: 3px 3px 7px rgba(0, 0, 0, 0.5);
      }
      .PicBar {
        background-color: #442b12;
      }
    }
    .s1right {
      h2 {
        color: white;
      }
      div.type {
        span {
          background-color: white;
          border: 2px solid black;
        }
      }
      div {
        p {
          color: white;
        }
      }
      .s1btnDiv {
        span {
          color: white;
        }
        button {
          background-color: #281004;
          border: 1px solid #131313;
        }
        button:hover {
          background-color: #000000;
          border: 1px solid rgb(196, 196, 196);
          color: rgb(176, 176, 176);
        }
      }
    }
  }
  // s2 評論
  .section2 {
    background-color: #5a3826;
    .commentAreaBtnDiv {
      display: flex;
      align-items: center;
      margin-bottom: 20px;
      h2 {
        color: white;
      }
      #commentAreaBtn {
        background-color: #281004;
        border: 1px solid rgba(49, 31, 12, 0.6);
        border-radius: 6px;
        padding: 10px 15px;
        font-weight: 600;
        color: white;
        font-size: 1rem;
        margin-left: auto;
        transition: 0.15s;
        cursor: pointer;
      }
      #commentAreaBtn:hover {
        background-color: #000000;
        border: 1px solid rgb(196, 196, 196);
        color: rgb(176, 176, 176);
      }
    }

    // 未登入
    .commitNotLogin {
      background-color: #442b12;
      div {
        span {
          color: white;
        }
        a {
          background-color: white;
        }
        a:hover {
          background-color: rgb(172, 172, 172);
        }
      }
    }

    .commitLogin {
      background-color: #442b12;
      .s2left {
        div {
          span {
            color: white;
          }
        }
      }
      .s2right {
        p {
          color: white;
        }
        div {
          button {
            background-color: white;
          }
          button:hover {
            background-color: rgb(172, 172, 172);
          }
        }
      }
    }
    .Comment_edit_deleteButton {
      margin: 10px 0;
      button {
        background-color: #281004;
        border: 1px solid #131313;
        border-radius: 10px;
        color: white;
        font-size: 1.25rem;
        font-weight: 600;
        padding: 10px 17px;
        color: white;
        transition: 0.15s;
        cursor: pointer;
      }
      button:hover {
        background-color: #000000;
        border: 1px solid rgb(196, 196, 196);
        color: rgb(176, 176, 176);
      }
    }
  }

  // s3 適合您的商品
  .section3 {
    background-color: #5a3826;
    h2 {
      color: white;
    }
    .recommendedProducts {
      .recomProduct {
        background-color: #442b12;
        .recPInfo {
          .recPtitle {
            h3 {
              color: white;
            }
            div {
              #recPtype {
                background-color: white;
                border: 2px solid black;
              }
            }
          }
          .recPTextLimit {
            p {
              color: white;
            }
          }
        }
        .recPgoPage {
          a {
            background-color: #281004;
            color: white;
          }
          a:hover {
            background-color: black;
            color: rgb(158, 158, 158);
          }
        }
      }
    }
  }
}
// .ProductPageBgCom {
//   background-image: url("../img/Games/GameTypeBg/Competitive.png");
//   background-repeat: no-repeat;
//   background-size: cover;
//   background-attachment: fixed;
//   padding-top: 1px;
//   padding-bottom: 1px;
//   position: relative;
//   z-index: 1;
//   .ProductPage {
//     background-color: #eaffff;
//   }
//   .productNav {
//     color: rgb(61, 61, 61);
//   }
//   .section1 {
//     .s1left {
//       .bigPicDiv {
//         background-color: #b9d6e8;
//         box-shadow: 3px 3px 7px rgba(0, 0, 0, 0.5);
//       }
//       .PicBar {
//         background-color: #b9d6e8;
//       }
//     }
//     .s1right {
//       h2 {
//         color: rgb(61, 61, 61);
//       }
//       div.type {
//         span {
//           background-color: white;
//           border: 2px solid black;
//         }
//       }
//       div {
//         p {
//           color: rgb(61, 61, 61);
//         }
//       }
//       .s1btnDiv {
//         span {
//           color: rgb(61, 61, 61);
//         }
//         div {
//           color: rgb(61, 61, 61);
//         }
//         button {
//           background-color: #ffffff;
//           border: 1px solid #131313;
//           color: black;
//         }
//         button:hover {
//           border: 1px solid rgb(0, 0, 0);
//           background-color: rgb(218, 218, 218);
//           color: rgb(0, 0, 0);
//         }
//       }
//     }
//   }
//   // s2 評論
//   .section2 {
//     background-color: #eaffff;
//     .commentAreaBtnDiv {
//       display: flex;
//       align-items: center;
//       margin-bottom: 20px;
//       h2 {
//         color: rgb(61, 61, 61);
//       }
//       #commentAreaBtn {
//         background-color: #ffffff;
//         border: 1px solid #131313;
//         color: rgb(0, 0, 0);
//         border-radius: 6px;
//         padding: 10px 15px;
//         font-weight: 600;
//         font-size: 1rem;
//         margin-left: auto;
//         transition: 0.15s;
//         cursor: pointer;
//       }
//       #commentAreaBtn:hover {
//         border: 1px solid rgb(0, 0, 0);
//         background-color: rgb(218, 218, 218);
//         color: rgb(0, 0, 0);
//       }
//     }

//     // 未登入
//     .commitNotLogin {
//       background-color: #b9d6e8;
//       div {
//         span {
//           color: rgb(61, 61, 61);
//         }
//         a {
//           background-color: white;
//         }
//         a:hover {
//           background-color: rgb(172, 172, 172);
//         }
//       }
//     }

//     .commitLogin {
//       background-color: #b9d6e8;
//       .s2left {
//         div {
//           span {
//             color: rgb(61, 61, 61);
//           }
//         }
//       }
//       .s2right {
//         p {
//           color: rgb(61, 61, 61);
//         }
//         div {
//           button {
//             background-color: white;
//           }
//           button:hover {
//             background-color: rgb(172, 172, 172);
//           }
//         }
//       }
//     }
//     .Comment_edit_deleteButton {
//       margin: 10px 0;
//       button {
//         background-color: white;
//         border: 1px solid #131313;
//         border-radius: 10px;
//         color: #000000;
//         font-size: 1.25rem;
//         font-weight: 600;
//         padding: 10px 17px;
//         transition: 0.15s;
//         cursor: pointer;
//       }
//       button:hover {
//         border: 1px solid rgb(0, 0, 0);
//         background-color: rgb(218, 218, 218);
//         color: rgb(0, 0, 0);
//       }
//     }
//   }

//   // s3 適合您的商品
//   .section3 {
//     background-color: #eaffff;
//     h2 {
//       color: rgb(61, 61, 61);
//     }
//     .recommendedProducts {
//       .recomProduct {
//         background-color: #b9d6e8;
//         .recPInfo {
//           .recPtitle {
//             h3 {
//               color: rgb(61, 61, 61);
//             }
//             div {
//               #recPtype {
//                 background-color: white;
//                 border: 2px solid black;
//               }
//             }
//           }
//           .recPTextLimit {
//             p {
//               color: rgb(61, 61, 61);
//             }
//           }
//         }
//         .recPgoPage {
//           a {
//             background-color: #ffffff;
//             color: rgb(0, 0, 0);
//           }
//           a:hover {
//             background-color: rgb(218, 218, 218);
//             color: rgb(0, 0, 0);
//           }
//         }
//       }
//     }
//   }
// }

.ProductPageBgCom {
  background-image: url("../img/products/ProductType/esport.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  padding-top: 1px;
  padding-bottom: 1px;
  position: relative;
  z-index: 1;
  .ProductPage {
    background-color: rgb(44, 44, 44);
  }
  .productNav {
    color: white;
  }
  .section1 {
    .s1left {
      .bigPicDiv {
        background-color: rgba(0, 0, 0, 0.5);
        box-shadow: 3px 3px 7px rgba(0, 0, 0, 0.5);
      }
    }
    .s1right {
      h2 {
        color: white;
      }
      div.type {
        span {
          background-color: white;
          border: 2px solid black;
        }
      }
      div {
        p {
          color: white;
        }
      }
      .s1btnDiv {
        span {
          color: white;
        }
        button {
          background-color: #0e0e0e;
          border: 1px solid #0e0e0e;
        }
        button:hover {
          background-color: #000000;
          border: 1px solid rgb(196, 196, 196);
          color: rgb(176, 176, 176);
        }
      }
    }
  }
  // s2 評論
  .section2 {
    background-color: #2c2c2c;
    h2 {
      color: white;
    }

    // 未登入
    .commitNotLogin {
      background-color: #3b3b3b;
      div {
        span {
          color: white;
        }
        a {
          background-color: white;
        }
        a:hover {
          background-color: rgb(172, 172, 172);
        }
      }
    }

    .commitLogin {
      background-color: #3b3b3b;
      .s2left {
        div {
          span {
            color: white;
          }
        }
      }
      .s2right {
        p {
          color: white;
        }
        div {
          button {
            background-color: white;
          }
          button:hover {
            background-color: rgb(172, 172, 172);
          }
        }
      }
    }
  }

  // s3 適合您的商品
  .section3 {
    background-color: #2c2c2c;
    h2 {
      color: white;
    }
    .recommendedProducts {
      .recomProduct {
        background-color: #202020;
        .recPInfo {
          .recPtitle {
            h3 {
              color: white;
            }
            div {
              #recPtype {
                background-color: white;
                border: 2px solid black;
              }
            }
          }
          .recPTextLimit {
            p {
              color: white;
            }
          }
        }
        .recPgoPage {
          a {
            background-color: #3b3b3b;
            color: white;
          }
          a:hover {
            background-color: #7f7f7f;
            color: rgb(0, 0, 0);
          }
        }
      }
    }
  }
}

.ProductPageBgShooting {
  background-image: url("../img/Games/GameTypeBg/Shooting.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  padding-top: 1px;
  padding-bottom: 1px;
  position: relative;
  z-index: 1;
  .ProductPage {
    background-color: rgb(44, 44, 44);
  }
  .productNav {
    color: white;
  }
  .section1 {
    .s1left {
      .bigPicDiv {
        background-color: rgba(0, 0, 0, 0.5);
        box-shadow: 3px 3px 7px rgba(0, 0, 0, 0.5);
      }
    }
    .s1right {
      h2 {
        color: white;
      }
      div.type {
        span {
          background-color: white;
          border: 2px solid black;
        }
      }
      div {
        p {
          color: white;
        }
      }
      .s1btnDiv {
        span {
          color: white;
        }
        button {
          background-color: #0e0e0e;
          border: 1px solid #0e0e0e;
        }
        button:hover {
          background-color: #000000;
          border: 1px solid rgb(196, 196, 196);
          color: rgb(176, 176, 176);
        }
      }
    }
  }
  // s2 評論
  .section2 {
    background-color: #2c2c2c;
    h2 {
      color: white;
    }

    // 未登入
    .commitNotLogin {
      background-color: #3b3b3b;
      div {
        span {
          color: white;
        }
        a {
          background-color: white;
        }
        a:hover {
          background-color: rgb(172, 172, 172);
        }
      }
    }

    .commitLogin {
      background-color: #3b3b3b;
      .s2left {
        div {
          span {
            color: white;
          }
        }
      }
      .s2right {
        p {
          color: white;
        }
        div {
          button {
            background-color: white;
          }
          button:hover {
            background-color: rgb(172, 172, 172);
          }
        }
      }
    }
  }

  // s3 適合您的商品
  .section3 {
    background-color: #2c2c2c;
    h2 {
      color: white;
    }
    .recommendedProducts {
      .recomProduct {
        background-color: #202020;
        .recPInfo {
          .recPtitle {
            h3 {
              color: white;
            }
            div {
              #recPtype {
                background-color: white;
                border: 2px solid black;
              }
            }
          }
          .recPTextLimit {
            p {
              color: white;
            }
          }
        }
        .recPgoPage {
          a {
            background-color: #3b3b3b;
            color: white;
          }
          a:hover {
            background-color: #7f7f7f;
            color: rgb(0, 0, 0);
          }
        }
      }
    }
  }
}

// 主頁面
.ProductPage {
  width: 75%;
  // background-color: rgb(44, 44, 44);
  margin: 110px auto;
  margin-bottom: 75px;
  box-shadow: 0 0 15px black;
  padding-top: 35px;
  padding-bottom: 75px;
  border-radius: 15px;
}
.productNav {
  width: 90%;
  font-size: 1.3rem;
  // color: white;
  margin: 0 auto 20px auto;
  padding: 20px 0 0 0;
}
// s1 商品介紹
.section1 {
  // background-color: #2c2c2c;
  width: 90%;
  margin: 0 auto;
  padding: 10px;
  display: flex;
  position: relative;
  img#typeIcon {
    width: 325px;
    height: 325px;
    position: absolute;
    right: -65px;
    top: -140px;
    user-select: none;
    opacity: 0.9;
  }
  .s1left {
    width: 64%;
    height: 600px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
    .bigPicDiv {
      background-color: rgb(0, 0, 0);
      width: 100%;
      height: 80%;
      overflow: hidden;
      border-radius: 5px;
      box-shadow: 3px 3px 7px rgba(0, 0, 0, 0.4);
      display: flex;
      justify-content: center;
      align-items: center;
      img {
        width: auto;
        height: 100%;
      }
    }
    .PicBar {
      background-color: #181818;
      border-radius: 5px;
      width: 100%;
      height: 17.5%;
      padding: 7.5px;
      display: flex;
      justify-content: space-around;
      gap: 7.5px;
      .smallPicDiv {
        width: 20%;
        height: auto;
        overflow: hidden;
        display: flex;
        justify-content: center;
        border-radius: 2px;
        background-color: rgba(0, 0, 0, 0.5);
        cursor: pointer;
        img {
          width: auto;
          height: 100%;
        }
      }
    }
  }
  .s1right {
    width: 36%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 25px;
    padding-left: 50px;
    // padding-right: 15px;
    // background-color: aqua;
    // margin-right: 2%;
    h2 {
      font-size: 1.925rem;
      color: white;
    }
    div.type {
      span {
        padding: 3px 15px;
        background-color: white;
        margin-right: 15px;
        font-size: 1.05rem;
        font-weight: 600;
        border-radius: 30px;
        border: 2px solid black;
        text-align: center;
      }
    }
    div {
      p {
        color: white;
        line-height: 1.6rem;
        font-size: 1.025rem;
      }
    }
    .s1btnDiv {
      //   margin-top: 10px;
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 25px;
      span {
        font-size: 1.5rem;
        font-weight: 600;
      }
      div {
        color: rgb(182, 182, 182);
        font-size: 1.3rem;
        user-select: none;
      }
      button {
        background-color: #131313;
        border: 1px solid #131313;
        border-radius: 10px;
        color: white;
        font-size: 1.1rem;
        font-weight: 600;
        padding: 12.5px 17.5px;
        transition: 0.15s;
        cursor: pointer;
      }
      button:hover {
        background-color: #000000;
        border: 1px solid rgb(196, 196, 196);
        color: rgb(176, 176, 176);
      }
    }
  }
}

// s2 評論
.section2 {
  background-color: #2c2c2c;
  width: 90%;
  margin: 30px auto 60px auto;
  padding: 10px;
  position: relative;
  .commentAreaBtnDiv {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    h2 {
      color: white;
    }
    #commentAreaBtn {
      background-color: #131313;
      border: 1px solid #131313;
      border-radius: 6px;
      padding: 10px 15px;
      font-weight: 600;
      color: white;
      font-size: 1rem;
      margin-left: auto;
      transition: 0.15s;
      cursor: pointer;
    }
    #commentAreaBtn:hover {
      background-color: #000000;
      border: 1px solid rgb(196, 196, 196);
      color: rgb(176, 176, 176);
    }
  }

  // 未登入
  .commitNotLogin {
    background-color: #3b3b3b;
    padding: 25px 50px;
    border-radius: 5px;
    div {
      display: flex;
      justify-content: space-between;
      align-items: center;
      span {
        color: white;
        font-size: 1.35rem;
      }
      a {
        font-size: 1.2rem;
        font-weight: 600;
        text-decoration: none;
        text-align: center;
        background-color: white;
        padding: 10px 20px;
        border-radius: 5px;
        cursor: pointer;
        transition: 0.2s;
      }
      a:hover {
        background-color: rgb(172, 172, 172);
      }
      a:visited {
        color: inherit;
      }
    }
  }

  .commitLogin {
    background-color: #3b3b3b;
    height: 400px;
    padding: 25px 50px;
    border-radius: 5px;
    display: flex;
    .s2left {
      width: 40%;
      display: flex;
      flex-direction: column;
      gap: 40px;
      div {
        span {
          color: white;
          font-size: 1.25rem;
        }
        div {
          display: flex;
          justify-content: center;
          align-items: end;
          line-height: 4rem;
          gap: 10px;
          #yourRating,
          #averageRating {
            margin: 15px 0;
            font-size: 4rem;
          }
        }
      }
    }
    .s2right {
      width: 60%;
      display: flex;
      flex-direction: column;
      gap: 20px;
      p {
        color: white;
        font-size: 1.25rem;
      }
      textarea {
        width: 100%;
        height: 70%;
        padding: 10px 15px;
        font-size: 1.5rem;
        border-radius: 2.5px;
        resize: none;
      }
      div {
        text-align: end;
        button {
          font-size: 1.2rem;
          font-weight: 600;
          text-decoration: none;
          text-align: center;
          background-color: white;
          padding: 7px 20px;
          border-radius: 5px;
          cursor: pointer;
          transition: 0.15s;
        }
        button:hover {
          background-color: rgb(172, 172, 172);
        }
      }
    }
  }

  .Comment_edit_deleteButton {
    margin: 10px 0;
    button {
      background-color: #0e0e0e;
      border: 1px solid #0e0e0e;
      border-radius: 10px;
      color: white;
      font-size: 1.25rem;
      font-weight: 600;
      padding: 10px 17px;
      color: white;
      transition: 0.15s;
      cursor: pointer;
    }
    button:hover {
      background-color: #000000;
      border: 1px solid rgb(196, 196, 196);
      color: rgb(176, 176, 176);
    }
  }
}

// s3 適合您的商品
.section3 {
  background-color: #2c2c2c;
  width: 90%;
  margin: 0 auto;
  padding: 10px;
  h2 {
    font-size: 1.5rem;
    color: white;
  }
  .recommendedProducts {
    width: 100%;
    .recomProduct {
      width: 90%;
      height: 230px;
      margin: 20px auto;
      background-color: #202020;
      padding: 20px;
      border-radius: 7.5px;
      display: flex;
      .recPImgDiv {
        width: 25%;
        height: 100%;
        border-radius: 5px;
        overflow: hidden;
        display: flex;
        justify-content: center;
        align-items: center;
        img {
          width: auto;
          height: 100%;
        }
      }
      .recPInfo {
        width: 60%;
        padding: 10px 0 10px 50px;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        gap: 10px;
        .recPtitle {
          flex: 5;
          display: flex;
          flex-direction: column;
          justify-content: center;
          gap: 10px;
          h3 {
            color: white;
            font-size: 1.4rem;
          }
          div {
            #recPtype {
              padding: 3px 15px;
              background-color: white;
              margin-right: 15px;
              font-size: 0.95rem;
              font-weight: 600;
              border-radius: 30px;
              border: 2px solid black;
              text-align: center;
            }
          }
        }
        .recPTextLimit {
          flex: 5;
          overflow: hidden;
          p {
            color: white;
            line-height: 1.5rem;
            display: -webkit-box;
            -webkit-box-orient: vertical;
            -webkit-line-clamp: 3; // 顯示最大行數
            overflow: hidden;
            text-overflow: ellipsis; // 超過就 ...
          }
        }
      }
      .recPgoPage {
        width: 15%;
        display: flex;
        justify-content: end;
        align-items: end;
        a {
          background-color: #3b3b3b;
          text-decoration: none;
          border: none;
          border-radius: 7.5px;
          color: white;
          font-size: 1rem;
          padding: 10px 20px;
          margin-right: 10px;
          transition: 0.15s;
          cursor: pointer;
        }
        a:hover {
          background-color: #7f7f7f;
          color: rgb(0, 0, 0);
        }
      }
    }
  }
}

/* 已發表過評論 */
.alreadyComment * {
  user-select: none;
  filter: opacity(0.6);
  pointer-events: none;
}
.alreadyComment::after {
  content: "已發表評論，您可以對評論進行修改或刪除";
  font-size: 1.75rem;
  color: #ffffff;
  background-color: rgba(0, 0, 0, 0.3);
  padding: 15px 35px;
  border-radius: 10px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/* editComment dialog */
.commentEditDialog {
  position: fixed;
  top: 50%;
  left: 50%;
  width: 35%;
  transform: translate(-50%, -50%);
  z-index: 9999;
  background-color: rgba(104, 104, 104, 1);
  width: 40%;
  padding: 15px 30px;
  border-radius: 10px;
  border: none;
  box-shadow: 0 0 7px black;
  #commentEditForm {
    display: flex;
    gap: 20px;
    p {
      color: white;
      font-size: 1.15rem;
      margin: 10px 0;
    }
    .editDialogLeft {
      flex: 2;
      display: flex;
      flex-direction: column;
      select {
        width: 100%;
        font-size: 1.25rem;
        padding: 2.5px;
      }
      .editRatingBig {
        margin-top: auto;
        margin-bottom: 55px;
        text-align: center;
        font-size: 4.6rem;
      }
    }
    .editDialogRight {
      flex: 8;
      textarea {
        width: 100%;
        padding: 10px 15px;
        font-size: 1.5rem;
        border-radius: 2.5px;
        resize: none;
      }
      div {
        width: 100%;
        padding: 0 5px;
        display: flex;
        justify-content: end;
        gap: 20px;
        button {
          margin-top: 7.5px;
          padding: 10px 15px;
          font-size: 1.05rem;
          border-radius: 5px;
          border: 1px solid white;
          background-color: #000000;
          color: #ffffff;
          font-weight: 600;
          cursor: pointer;
        }
        button:hover {
          border: 1px solid rgb(170, 170, 170);
          background-color: #000000;
          color: rgb(122, 122, 122);
        }
      }
    }
  }
}
////////////////////////////
////////////////////////////
////////////////////////////

/* star rating */
.star-rating {
  display: inline-block;
  direction: rtl; /* 使星星從右至左排序，不作用於 inline */
  font-size: 0;
  width: fit-content;
  // background-color: blue;
}

.star-rating input[type="radio"] {
  display: none; /* 隱藏原始的 radio 按鈕 */
}

.star-rating label {
  cursor: pointer;
  display: inline-block;
  width: 22.5px;
  height: 22.5px;
  background: url("../img/reviews/Star_Empty.png") no-repeat;
  background-size: cover;
}

.star-rating input[type="radio"]:checked ~ label {
  background: url("../img/reviews/Star.png") no-repeat;
  background-size: cover;
}

// 切換遊戲
.gameChangeDiv {
  position: fixed;
  bottom: 50px;
  right: 50px;
  width: 150px;
  // height: 100px;
  z-index: 5;
  // background-color: #442b12;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 5px;
  #changeGameBtn {
    font-size: 1.35rem;
    background-color: #000000;
    border: 2px solid white;
    padding: 10px 15px;
    color: white;
    border-radius: 10px;
    cursor: pointer;
  }
  #gameChange {
    display: none;
    font-size: 1.25rem;
    text-align: center;
  }
}

/* 轉場特效 */
// .noshow {
//   display: none;
// }
// .showAction {
//   position: fixed;
//   top: 0;
//   left: 0;
//   width: 100%;
//   height: 100%;
//   z-index: 9999;
//   background-color: rgba(0, 0, 0, 0.6);
//   display: flex;
//   justify-content: center;
//   align-items: center;
//   img {
//     display: none;
//   }
//   .showForShooting {
//     display: block;
//   }
// }

// .showAVG {
//   position: fixed;
//   top: 0;
//   left: 0;
//   width: 100%;
//   height: 100%;
//   z-index: 9999;
//   background-color: rgba(152, 36, 36, 0.5);
//   display: flex;
//   justify-content: center;
//   align-items: center;
//   img {
//     display: none;
//   }
//   .showForAVG {
//     display: block;
//     transform: scaleX(-1);
//   }
// }

// .showCom {
//   position: fixed;
//   top: 0;
//   left: 0;
//   width: 100%;
//   height: 100%;
//   z-index: 9999;
//   background-color: rgba(152, 36, 36, 0.5);
//   display: flex;
//   justify-content: center;
//   align-items: center;
//   img {
//     display: none;
//   }
//   .showForCom {
//     display: block;
//     transform: scaleX(-1);
//   }
// }
