<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>TheGameC-常見問題</title>

    <link rel="stylesheet" href="/style/qa.css" />
    <link rel="stylesheet" href="/style/style.css" />
  </head>

  <body>
    <!-- header -->
    <%- include('share/header')%>

    <!-- 外面大容器 -->
    <div class="content">
      <!-- 常見問題列 -->
      <div class="topbox">
        <p><span>《ThegameC》客服 ></span> 常見問題</p>
        <p class="textbox">
          <span
            >客服信箱
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="16"
              height="16"
              fill="currentColor"
              class="bi bi-question-circle"
              viewBox="0 0 16 16"
            >
              <path
                d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"
              />
              <path
                d="M5.255 5.786a.237.237 0 0 0 .241.247h.825c.138 0 .248-.113.266-.25.09-.656.54-1.134 1.342-1.134.686 0 1.314.343 1.314 1.168 0 .635-.374.927-.965 1.371-.673.489-1.206 1.06-1.168 1.987l.003.217a.25.25 0 0 0 .25.246h.811a.25.25 0 0 0 .25-.25v-.105c0-.718.273-.927 1.01-1.486.609-.463 1.244-.977 1.244-2.056 0-1.511-1.276-2.241-2.673-2.241-1.267 0-2.655.59-2.75 2.286zm1.557 5.763c0 .533.425.927 1.01.927.609 0 1.028-.394 1.028-.927 0-.552-.42-.94-1.029-.94-.584 0-1.009.388-1.009.94z"
              />
            </svg>
            </span
          >
        </p>
      </div>

      <!-- 主標常見問題 -->
      <div class="topic">
        <h1>常見問題</h1>
        <br />
        <hr style="color: #9b9b9b" />

        <!-- 搜尋框 -->
        <div class="findbox">
          <input type="text" class="thefind" placeholder="🔍 搜尋" />
        </div>
      </div>
      <!-- 以下這串為原本寫的收尋框 點一下會有下拉式表單 -->
      <!-- <div class="findbox">
                <input  list="browsers" name="myBrowser" placeholder="🔍 搜尋" class="thefind">
                <datalist id="browsers">
                    <option value="帳號移轉問題">
                    <option value="儲值方法">
                    <option value="帳號申請">
                    <option value="狗狗剪頭髮服務">
                    <option value="哪裡有租狗服務">
                </datalist>
            </div>
        

        <! QA區 -->
      <div class="qabox">
        <div class="qabox1">
          <h3>常見問題1</h3>
          <p>Q：帳號移轉問題</p>
          <p>
            A：或是你已經搬到其他國家了嗎？
            不管什麼理由，記得帶著帳號跟你一起走！這篇常見問答集可以回答一些關於轉移帳號的基本問題，以及解決一些常見問題。
            基本問題 如何購買轉移服務？
            可在商店購買。按一下「儲值聯盟幣」旁邊的帳號按鈕（圖示是一個小人，後面有個齒輪）。
          </p>
        </div>
        <div class="qabox1">
          <h3>常見問題2</h3>
          <p>Q：帳號移轉問題</p>
          <p>
            A：或是你已經搬到其他國家了嗎？
            不管什麼理由，記得帶著帳號跟你一起走！這篇常見問答集可以回答一些關於轉移帳號的基本問題，以及解決一些常見問題。
            基本問題 如何購買轉移服務？
            可在商店購買。按一下「儲值聯盟幣」旁邊的帳號按鈕（圖示是一個小人，後面有個齒輪）。
          </p>
        </div>
        <div class="qabox1">
          <h3>常見問題3</h3>
          <p>Q：帳號移轉問題</p>
          <p>
            A：或是你已經搬到其他國家了嗎？
            不管什麼理由，記得帶著帳號跟你一起走！這篇常見問答集可以回答一些關於轉移帳號的基本問題，以及解決一些常見問題。
            基本問題 如何購買轉移服務？
            可在商店購買。按一下「儲值聯盟幣」旁邊的帳號按鈕（圖示是一個小人，後面有個齒輪）。
          </p>
        </div>
        <div class="qabox1">
          <h3>常見問題4</h3>
          <p>Q：帳號移轉問題</p>
          <p>
            A：或是你已經搬到其他國家了嗎？
            不管什麼理由，記得帶著帳號跟你一起走！這篇常見問答集可以回答一些關於轉移帳號的基本問題，以及解決一些常見問題。
            基本問題 如何購買轉移服務？
            可在商店購買。按一下「儲值聯盟幣」旁邊的帳號按鈕（圖示是一個小人，後面有個齒輪）。
          </p>
        </div>
      </div>

      <!-- 換頁欄 -->
      <div class="pagenum">
        <a href="#"><span>1</span></a>
        <a href="#">2</a>
        <a href="#">3</a>
      </div>
    </div>

    <!-- footer -->

    <%- include('share/footer')%>

    <script src="/app/app.js"></script>
  </body>
</html>
