<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>TheGameC-法律資訊</title>
    <link rel="stylesheet" href="/style/rule.css" />
    <link rel="stylesheet" href="/style/style.css" />
  </head>
  <body>
    <!-- header -->
    <%- include('share/header')%>

    <div class="content">
      <h1>法律資訊</h1>
      <h3>第一條</h3>
      <p>
        為保障營業秘密，維護產業倫理與競爭秩序，調和社會公共利益，特制定本法。本法未規定者，適用其他法律之規定。
      </p>
      <br />
      <h3>第二條</h3>
      <p>
        本法所稱營業秘密，係指方法、技術、製程、配方、程式、設計或其他可用於生產、銷售或經營之資訊，而符合左列要件者：<br />
        一、非一般涉及該類資訊之人所知者。<br />
        二、因其秘密性而具有實際或潛在之經濟價值者。<br />
        三、所有人已採取合理之保密措施者。
      </p>
      <br />
      <h3>第三條</h3>
      <p>
        受雇人於職務上研究或開發之營業秘密，歸雇用人所有。但契約另有約定者，從其約定。<br />
        受雇人於非職務上研究或開發之營業秘密，歸受雇人所有。但其營業秘密係利用雇用人之資源或經驗者，雇用人得於支付合理報酬後，於該事業使用其營業秘密。
      </p>
      <br />
      <h3>第四條</h3>
      <p>
        出資聘請他人從事研究或開發之營業秘密，其營業秘密之歸屬依契約之約定；契約未約定者，歸受聘人所有。但出資人得於業務上使用其營業秘密。
      </p>
      <br />
      <h3>第五條</h3>
      <p>
        數人共同研究或開發之營業秘密，其應有部分依契約之約定；無約定者，推定為均等。
      </p>
      <br />
    </div>

    <!-- footer -->

    <%- include('share/footer')%>

    <script src="/app/app.js"></script>
  </body>
</html>
