<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>TheGameC-使用條款</title>
    <link rel="stylesheet" href="/style/rule.css" />
    <link rel="stylesheet" href="/style/style.css" />
  </head>

  <body>
    <!-- header -->
    <%- include('share/header')%>

    <!-- 中間內容 -->
    <div class="content">
      <h1>使用條款</h1>
      <p>
        請閣下使用本網站前，先細心詳閱以下使用條款及細則（下稱「使用條款」）。若閣下使用本網站或本網站的任何部分，即意味著閣下已接受以下使用條款。因此若閣下不想接受以下使用條款的約束，請勿使用本網站。在本網站所提及的「閣下」或「用戶」指以任何理由或目的進入本網站的所有個別人士及／或實體。
      </p>
      <br />
      <h3>本網站的服務範圍 / 內容</h3>
      <p>
        本網站提供公司簡介、公司理念、最新推廣及優惠、最新動態消息及聯絡TheGameC的方法。
      </p>
      <br />
      <h3>使用條款變更</h3>
      <p>
        TheGameC保留權利可隨時修改或刪除使用條款而不作另行通知。閣下應定期瀏覽本網站，以瞭解對閣下具有約束力的使用條款是否有所修改，因爲使用條款一經修改，而閣下繼續使用本網站，即代表閣下同意受最新版的使用條款約束。
      </p>
      <br />
      <h3>網站更新</h3>
      <p>
        TheGameC保留權利可隨時更新或修改本網站內容或改變本網站的展示方式、實質內容或功用而不作另行通知。
      </p>
      <br />
      <h3>網站材料</h3>
      <p>
        本網站提供有形或無形的材料、數據、內容、圖形、圖像、音樂、標識、圖標按鈕、鏈路、HTML編碼、商標、軟件、照片、圖片、視頻及其他材料與物品﹙下稱為「網站材料」﹚。若天醫同意讓閣下使用本網站，有關特許使用，應是非獨家的、不可轉讓的和有限制的，須受該使用條款所規限。網站材料均受版權法、商標法和其他適用法律的保護。所有網站材料均屬天醫或天醫的網站內容供應商或客戶的專有財產。未經授權擅自使用任何網站材料將違反著作權法、商標法和其他適用法律。若閣下複製任何網站材料，閣下必須在複製件上保留原材料中有關版權、商標、服務標誌以及其他專有權的告示。
      </p>
    </div>

    <!-- footer -->
    <%- include('share/footer')%>
    <script src="/app/app.js"></script>
  </body>
</html>
